#container {width:740px;}

#header {width:750px;}
#header #search { position:absolute;  }
#header #search input.top_search_field { width:340px; }
#header #search #search-top { width:340px; }
#header #search #search-submit { margin-left:-195px;}
#header #search input#submitsearch  { position:relative; top:0px; margin:0px 0px 8px 5px; }
#header #search #select { width:349px; margin-top:-5px; }

/* Menu */
#menu { margin:14px 0px 0px 0px; width:750px; display:absolute; border:none; background:transparent url("../images/menu.png") bottom repeat-x;}
#menu ul { list-style:none; margin:0px 0px 0px 8px; padding:0px;}
#menu ul li { float:left; margin-right:10px; line-height:1em;  max-width:75px;
width:expression(document.body.clientWidth > 75? "75px": "auto" );}

#menu ul li a, #menu ul li a:visited { text-decoration:none; display:block;  }
#menu ul li a:hover {  }

#menu ul li#challenges { width:60px;}
#menu ul li#ideas { width:25px; }
#menu ul li#visions { width:60px; }
#menu ul li#addnewcontent { width:100px; text-align:center;}

#login_box{margin-top:-42px; margin-left:253px;}	
#add_content_menu{ margin-left:-65px;}

#content {  margin:3px 0px 0px 8px;}
#content .narrow { width:490px; }
#content .user .context { width:400px; margin:0px 0px 0px 65px;}

.column { width:220px !important; margin:0px 10px 0px 0px !important; }
.column .search_info { height:60px !important; }
.checkbox { border:1px solid #fff !important;}
.photo {  background:#000 !important; height:20px !important;}
.photo img { margin-bottom:-3px !important; }

#sidebar {width:200px; margin:10px 5px 0px;}
#sidebar .placeholder_related { width:200px; }

#content #user-page #profile-info { width:480px; float:left; margin-left:29px; }
#content #user-page #profile-info #connect { margin:45px 0px 0px 0px !important; }

#content #group-page #activity {margin-top:0px;}

#content #group-page #group-campaigns, #content #group-page #join-group {
	 color:#c0c0c0; margin:0px 10px 15px 0px;}
	 	 
#content #group-page #group-campaigns { width:190px; float:left;}
#content #group-page #join-group { width:290px; float:right; text-align:right;}	 

#content #activity #content_type { margin:0px 0px -5px 0px; }
#content #activity #content_type ul li { list-style:none; float:left; }
#content #activity #content_type ul li.selected a,
#content #activity #content_type ul li.selected a:visited {
	border-bottom:1px solid #fff;
	display:block;}
	
#content #activity #content_type ul li.all a,
#content #activity #content_type ul li.all a:visited {
	background:#fff; color:#000;
	display:block;}
	
#content #activity #content_type ul li.challenges a,
#content #activity #content_type ul li.challenges a:visited {
	background:#D21034; color:#fff;
	display:block;}

#content #activity #content_type ul li.ideas a,
#content #activity #content_type ul li.ideas a:visited {
	background:#4B9B07; color:#fff;
	display:block;}

#content #activity #content_type ul li.visions a,
#content #activity #content_type ul li.visions a:visited {
	background:#FFC726; color:#fff;
	display:block;}
#content #activity #content_type ul li.ended a,
#content #activity #content_type ul li.ended a:visited {
	display:block;}
		
#content #user-page #content_type { margin-bottom:-10px; }
#content #group-page .scroll-box { height:300px; border:1px solid #ccc; overflow:auto; margin:5px 0px 15px 0px;  width:490px; }
#content #group-page .scroll-box p { margin-left:5px; } 
#content #group-page .scroll-box ul li { width:445px; }

#content .scroll-box ul li span.left {  float:none !important;  display:block !important; margin-left:7px !important; }	
#content .scroll-box ul li span.right  { float:none !important; display:block !important;}

#add-existing-idea { width:140px !important; }
#add-new-idea { width:100px !important; }

#my_groups { margin-top:17px;}
#my_groups .scroll-box { width:210px; margin-right:10px !important;}

#content #edit-user-page .input-column-website1,
#content #edit-user-page .input-column-website2,
#content #edit-user-page .input-column-website3 { margin:0px 3px 0px 0px; }

#content #edit-user-page .input-column-website2 input { width:105px; }
#content #edit-user-page .input-column-website3 input { width:105px; }

#content #edit-user-page .input-column1 {  width:134px; float:left; text-align:right; margin-right:10px; margin-bottom:8px; }
#content #edit-user-page .input-column2 { width:254px; float:left;  margin-right:0px;  margin-bottom:8px;}
#content #edit-user-page .input-column3 {  width:65px; float:left;  margin-bottom:8px; }
#content #edit-user-page input, #content #edit-user-page textarea { width:234px; border:1px solid #7f9db9; background:#fafafa; margin:0px; padding:2px; }

#content #edit-user-page .check { border:1px solid #7f9db9; padding:3px 10px 3px 6px; width:222px; margin-top:-3px;}
#content #edit-user-page .check.green { background:#73ec66; }

#contribute .submit-button { width:130px;}

#content #add-content-page #add-content-form label strong { margin-left:2px; float:left;}
#content #add-content-page #add-content-form small {font-size:12px;}
#content #add-content-page #add-content-form input,
#content #add-content-page #add-content-form textarea, 
#content #add-content-page #add-content-form .field-label, 
#content #add-content-page #add-content-form .field { width:367px;}
#content #add-content-page #add-content-form input { height:18px; }
#content #add-content-page #add-content-form .limit { width:115px; }
#content #add-content-page #add-content-form #browse { width:70px !important; }
#content #add-content-page #add-content-form #upload-file { width:80px !important; }

#content #content-page-additional-functions #linking-contents ul li strong { float:right; margin-top:-17px;}

#content #content-page .suggestion-context {width:390px; font-size:14px; margin-left:70px;}
	
#content #sign-up-page .error {  width:224px; padding:2px 10px 2px 24px; margin-top:-1px; border:1px solid #7f9db9; border-top:none;}
#content #sign-up-page select { width:260px !important;}