/* Custom CSS file */
/* Here you can customize further the appearance of you profile page */

body {
	background:#ffffff;
}

#content #user-page {
	background:#ffffff;
	font-family:Arial, sans-serif;
	font-size:12px;
	color:#000000;
}

.scroll-box {
	background:#ffffff;
	font-family:Arial, sans-serif;
	font-size:12px;
	color:#000000;
}