body {
	background: url("/img/bodyBg.png") repeat-x;
}

ul {
	list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    position:   relative;
    background: url("/img/headerBg.png") white;
    height:     124px;

    #massidea-logo {
        position: absolute;
        top:      35px;
        left:     35px;
    }
    #massidea-signet {
        position: absolute;
        top:      8px;
        left:     420px;
    }


    .headerLogin {
		margin: 20px 0 0 0;

	    input[type="text"],
        input[type="password"]{
            width: 186px;
		    height: 18px;
        }

        input[type="submit"] {
	        height: 27px;
	        margin: 1px 0 0 90px;
        }

	    .signup {
		    margin: 0 0 0 90px;
	    }
	}
}

.footer {
	padding: 30px 0 0 0;
	background: url('/img/footerLine.png') no-repeat;
	height: 115px;
}

#footerBackground {
	background: url('/img/footerBg.png') bottom repeat-x;
}

.btn {
	.gradient(@colorStandardFirst, @colorStandardSecond);
	.border(@colorStandardThird);
	color: white;
	.text-shadow;

	&:hover, &:active {
		color: white;
	    .text-shadow;
		background: @colorStandardFirst;
	  }

	&.btn-challenge {
		.gradient(@colorChallengeFirst, @colorChallengeSecond);
	    .border(@colorChallengeThird);

	    &:hover, &:active {
	        background: @colorChallengeFirst;
	    }
	}

	&.btn-idea {
	    .gradient(@colorIdeaFirst, @colorIdeaSecond);
	    .border(@colorIdeaThird);

	    &:hover, &:active {
		    background: @colorIdeaFirst;
	    }
	  }

	&.btn-vision {
		.gradient(@colorVisionFirst, @colorVisionSecond);
	    .border(@colorVisionThird);

	    &:hover, &:active {
	        background: @colorVisionFirst;
	    }
  }
}

.margin-top {
	margin: 20px 0 0 0;
}


.popover {
  min-width: 300px;
}