@colorChallengeFirst:  #CC240E;
@colorChallengeSecond: darken(@colorChallengeFirst, 20%);
@colorChallengeThird:  darken(@colorChallengeFirst, 30%);

@colorIdeaFirst:  #008d00;
@colorIdeaSecond: darken(@colorIdeaFirst, 20%);
@colorIdeaThird:  darken(@colorIdeaFirst, 30%);

@colorVisionFirst:  #bd9e2f;
@colorVisionSecond: darken(@colorVisionFirst, 20%);
@colorVisionThird:  darken(@colorVisionFirst, 30%);


@colorStandardFirst:  #677c9c;
@colorStandardSecond: darken(@colorStandardFirst, 20%);
@colorStandardThird:  darken(@colorStandardFirst, 30%);

