@colorChallengesFirst:  #a41d0b;
@colorChallengesSecond: lighten(@colorChallengesFirst, 20%);
@colorChallengesThird:  lighten(@colorChallengesFirst, 30%);

@colorIdeaFirst:  #008d00;
@colorIdeaSecond: lighten(@colorIdeaFirst, 20%);
@colorIdeaThird:  lighten(@colorIdeaFirst, 30%);

@colorVisionFirst:  #bd9e2f;
@colorVisionSecond: lighten(@colorVisionFirst, 20%);
@colorVisionThird:  lighten(@colorVisionFirst, 30%);


