#header #search #submitsearch  { position:relative; top:0px; margin:0px 0px 8px 5px; }
#header #search #search-submit  { float:right; width:50px; margin-left:-35px; }
#header #search #select { margin-top:-3px; }
#header #search #search-top #user_options { top: 25px; }

#add_content_menu{
	position: absolute; margin-top: 24px; 
	overflow: visible;  display: none; 
	width: 126px; right:37px;
	border: 1px solid #cccccc; 
	vertical-align: middle; 
	font-family: Arial; font-size: 12px; font-weight: bold; 
	margin-left:35px;}

#login_box{ margin-top:10px; margin-left: 0}

#add_content_button, #send-message { padding-right:0px !important; padding-left:0px !important; }
.checkbox { border:1px solid #fff !important;}

#content #edit-user-page .input-column1, 
#content #edit-user-page .input-column2,
#content #edit-user-page .input-column3,
#content #edit-user-page .input-column-website1,
#content #edit-user-page .input-column-website2,
#content #edit-user-page .input-column-website3 { margin-bottom:0px; }

#contribute .submit-button { width:130px;}

#content #add-content-page #add-content-form .row { margin-bottom:4px; }
#content #add-content-page #add-content-form .row.upload { margin:10px 0px 18px 0px; }

#content #sign-up-page .input-column1, 
#content #sign-up-page .input-column2 { margin-bottom:0px;}
#content #sign-up-page #upload-3 {width:187px; float:right; margin-left:0px; text-align:right;}
#content #sign-up-page .error { margin-top:-1px; }

#content #content-page-additional-functions #linking-contents ul li strong { float:right; margin-top:-17px;}


#my_groups .scroll-box ul li { width:155px; }
#my-reads .scroll-box ul li { width: 180px !important; }

.scroll-box ul li .user_content_row {
	width: 460px !important;	
}

.scroll-box ul li .user_summary_list_without_stats {
	width: 390px !important;
}

#user-page .left .scroll-box {
	width: 200px;
	float: left;
}

#user-page .right .scroll-box {
	width: 500px;
	float: left;	
}

#content #user-page #activity #content_type ul li {
	margin: 0 0 -8px 10px;
	position: relative;
	z-index: 1;
}

#backdrop { filter:alpha(opacity=65) !important;zoom:1 !important; }

#content #user-page #profile-meta ul .user_profile_toplist li span { float:right; display:inline; }
#content #user-page #profile-meta ul .user_profile_toplist li { clear: both; }
#content #user-page #profile-meta ul .user_profile_toplist li strong { display:inline; float:left; }

.user_list_left_side,.user_list_right_side,.user_list_last_login,.user_list_username,.user_list_city,.user_list_country,.user_list_rating,.user_list_rating_amount { float:left; }
.user_list_moreless { margin-left: 25px; }
.user_list_last_login { float: right; }
.user_list_city,.user_list_country,.user_list_rating,.user_list_rating_amount { padding-left: 5px; }
.user_list_top_box_runnerups_rank, .user_list_top_box_runnerups_names { float: left; }
.user_list_top_box_show_more {  margin-bottom: 0px; }
.user_list_top_box_runnerups_title_points { margin-top: -15px; }
.user_list_top_column { display: inline; }
.user_list_top_box { margin-right: 4px; }
.ui-tabs .ui-tabs-nav { width: 705px; }

