#content #group-page #group-info {
	margin:0 0px 42px 0px;
	padding:0px 0px 8px 0px;
	background:transparent url("../images/gray_dot_line_500.png") bottom no-repeat; }
#content #group-page .scroll-box li {
    border-left:5px solid #0089CF;
}
#content #campaign-page p.link {font-size: 1.4em}

#content #group-page #edit-group-etc {
    color:#c0c0c0;
    font-size:1.4em;
    width: 100%;
    text-align: right;
    padding-top: 10px;
}

#content #current-posts .scroll-box .photo.ideas { border-left:5px solid #4B9B07 !important; width:48px; height:48px; float:left; }
#content #current-posts .scroll-box .photo.visions { border-left:5px solid #FFC726 !important; width:48px; height:48px; float:left; }
#gaccampaignlist { float:left; width:520px; }
#content .campaign-list p { margin-left:15px; }
#content .campaign-list ul li {
margin:8px 30px 0px 0px;
padding:0px 0px 10px 0px;
list-style:none;
background:transparent url("../images/gray_dot_line_500.png") no-repeat bottom;
border-left:5px solid #0089CF;}
#content .campaign-list ul li p { display:block; padding:2px 2px 2px 10px; margin:0px; }
#content .campaign-list ul li span.left { width:200px !important; margin:3px 0px 0px 10px; }
#content .campaign-list ul li span.right {width:200px !important; text-align:right; margin:5px 0px 0px 0px;   }

#gacsidebar { float:right; width:200px; }
#gacsidebar .box h2 { font-size:1.2em; margin:3px 3px 4px 0px; padding:0px; background:none;}
#gacsidebar .box-content { background:#f2f2f2;font-size:.9em; border:1px solid #ccc; padding:10px 15px;}
#gacsidebar #groups p { margin:15px 0px 20px 15px; }
#gacsidebar #groups ul { margin:-8px 0px; padding:0px;}
#gacsidebar #groups ul li {
    background:transparent url("../images/gray_dot_line_200.png") bottom no-repeat;
    padding:5px 0px 5px 2px;
    list-style:none;}
#gacsidebar #groups ul li span { padding:0px 0px 0px 8px; display:block; border-left:5px solid #0089CF;}

#content #create-group-page .input-column1 { width:144px; float:left; text-align:right; margin-right:10px; margin-bottom:8px; }
#content #create-group-page .input-column2 { width:254px; float:left;  margin-right:20px;  margin-bottom:8px; }
#content #create-group-page .input-column3 { width:60px; float:left;  margin-bottom:8px; }
#content #create-group-page textarea,
#content #create-group-page input {  width:255px; padding:2px; }
#content #create-group-page textarea { height:177px; }

#content #create-group-page #save_changes {
	background:transparent url("../images/gray_dot_line_500.png") top no-repeat;
	text-align:center;
	padding:10px 0px 20px 0px;
	margin-top:10px; }

#content #create-group-page #save_changes input#save-group,
#content #create-group-page #save_changes input#cancel { width:100px; }

#content #create-group-page .required { padding:0px; display:inline; color:red; }
#campaigns h3 { font-size:1.2em; margin:3px 3px 8px 0px; padding:0px; background:none;}
#right_side #campaigns p { margin:15px 0px 20px 15px; }
#right_side #campaigns ul { margin:-8px 0px; padding:0px;}
#right_side #campaigns ul li {
    background:transparent url("../images/gray_dot_line_200.png") bottom no-repeat;
    padding:5px 0px 5px 2px;
    list-style:none;}
#right_side #campaigns ul li span { padding:0px 0px 0px 8px; display:block; border-left:5px solid #0089CF;}
.progress {
	width: 240px;
    #width: 238px; /* IE HACK :( */
    height: 18px;
    padding-left: 19px;
	font-size: 12px;
	overflow: hidden;
    background: #FFCFCF;
    background-image: url('../images/icon_thumb_down.png');
    background-position: left;
    background-repeat: no-repeat;
    border: 1px solid #7F9DB9;
    float:left;
}
.progress_ok {
    width: 240px;
    #width: 238px; /* IE HACK :( */
    height: 18px;
    padding-left: 19px;
	font-size: 12px;
	overflow: hidden;
    background: white;
    background-image: url('../images/icon_thumb_up.png');
    background-position: left;
    background-repeat: no-repeat;
    border: 1px solid #7F9DB9;
    float:left;
}
#content #user-page #activity .left { width:200px; float:left !important; }
#content #user-page #activity .right { width:500px; float:right; }
#content #user-page #activity .wide { width:720px; float:left;}

#my-custom-layout .scroll-box {
	height: 385px;
}

#my-reads .scroll-box ul li {
	margin: 5px 5px 5px 5px;
	padding: 0;
}

.reader_user .photo {
	width: 48px;
	display: inline;
}

.reader_user .photo img {
	width: 48px;
}

.reader_user .context {
	min-height: 48px;
	display: inline;
	vertical-align: top;
	padding-left: 5px;
}


#my-views .scroll-box {
	overflow-x: hidden;
}

div.user_content_row{
	width: 500px;
    border-bottom: 1px dotted #DDDDDD;
    margin: 10px 0 10px 0;
    padding-left: 5px;
}

div.user_image_list{
	padding-left: 0px;
	padding-top: 8px;
	float: left; 
}

div.user_summary_list_with_stats{
	text-align: left;
	width: 300px;
	padding-left: 11px;
	padding-top: 6px;
	margin-bottom: -1px;
	float: left;
}

div.user_summary_list_without_stats{
	text-align: left;
	width: 420px;
	padding-left: 11px;
	padding-top: 6px;
	margin-bottom: -1px;
	float: left;
}

.profile_image_smallsize {
	width: 48px;
	height: 48px;
}

.smallsize_problem_border {
    border-left: 6px solid #D21034;
}

.smallsize_idea_border {
    border-left: 6px solid #4B9B07;
}

.smallsize_finfo_border {
    border-left: 6px solid #FFC726;
}

#content #add-content-page #Createacampaign .input-column-website1,
#content #add-content-page #add_group_form .input-column-website1 {  width:119px; float:left; text-align:right; margin-right:10px; margin-bottom:8px; }
#content #add-content-page #Createacampaign .input-column-website2,
#content #add-content-page #add_group_form .input-column-website2 { width:120px; float:left;  margin-right:15px;  margin-bottom:8px; }
#content #add-content-page #Createacampaign .input-column-website3,
#content #add-content-page #add_group_form .input-column-website3 {  width:120px; float:left;  margin-bottom:8px; }

#content #add-content-page #add_group_form select { width: 384px; margin-top: 6px; }

#content #add-content-page #Createacampaign .input-column-website2 input,
#content #add-content-page #add_group_form .input-column-website2 input { width:120px; }
#content #add-content-page #Createacampaign .input-column-website3 input,
#content #add-content-page #add_group_form .input-column-website3 input { width:120px; }


.linking {
    float: left;
	width: 500px;
    margin-bottom: 10px;
}
.linking_header {
    color: #C0C0C0;
}
.linking_paragraph, leaving_paragraph {
    margin: 4px 10px 4px 10px;
}
#linked_to {
    border: 1px solid #CCCCCC;
    overflow: hidden;
    margin-bottom: 10px;
}
#linked_to_where {
    float: left;
}
.linked_to_where_campaign, .linked_to_where_group,
.linked_to_where_problem, .linked_to_where_finfo, .linked_to_where_idea,
.linked_to_where_challenge, .linked_to_where_visions, .linked_to_where_ideas {
    margin-left: 80px;
}
.linking_help_text {
    color: #808080;
    margin: 10px 0 8px 15px;
}
.linking_dot_line, .leaving_dot_line {
    height: 1px;
    width:500px;
    border-bottom: 1px dotted #D2DADA;
    margin: 6px 0 6px 0;
    padding: 0;
}
.linking_from, .leaving_from {
    
}
.linking_from_name, .leaving_from_name {
    float: left;
    width: 430px;
}
.leaving_from_name {
    margin-bottom: 5px;
}
.linking_from_campaign, .linking_from_group,
.linking_from_problem, .linking_from_finfo, .linking_from_idea,
.linking_from_challenge, .linking_from_visions, .linking_from_ideas,
.leaving_from_campaign {
    padding-left: 10px;
}
.linking_from_campaign, .linking_from_group, .leaving_from_campaign,
.linked_to_where_campaign, .linked_to_where_group {
    border-left: 5px solid #0089CF;
}
.linking_from_problem, .linking_from_challenge,
.linked_to_where_problem, .linked_to_where_challenge {
    border-left: 5px solid #D21034;
}
.linking_from_finfo, .linking_from_visions,
.linked_to_where_finfo, .linked_to_where_visions {
    border-left: 5px solid #FFC726;
}
.linking_from_idea, .linking_from_ideas,
.linked_to_where_idea, .linked_to_where_ideas {
    border-left: 5px solid #4B9B07;
}
.linking_from_text, leaving_from_text {
    margin: 4px 0 4px 20px;
}
.linking_from_link {
    margin-top: 4px;
}

li.linked_campaigns, li.linked_groups {
    list-style-type: none;
    margin-top: 4px;
    border-left:5px solid #0089CF;
}
div.linked_campaigns, div.linked_groups {
    margin-left: 5px;
}

#leave_confirm {
    width: 500px;
    float: left;
    margin-bottom: 10px;
}
#leave_confirm_groups {

}

#group_waiting_list {
    float: left;
	width: 500px;
    margin-bottom: 10px;
}
.group_waiting_list_table {
    width: 500px;
    margin-top: 10px;
    border-spacing: 0;
}
.group_waiting_list_user_accept, .group_waiting_list_user_deny, .group_waiting_list_user_ignore,
.group_waiting_list_user_img, .group_waiting_list_user_name {
    padding: 4px;
    border-top: 1px black dotted;
}
.group_waiting_list_user_accept_all, .group_waiting_list_user_deny_all {
    padding: 4px;
}
.group_waiting_list_user_accept {
    width: 80px;
}
.group_waiting_list_user_deny {
    width: 80px;
}
.group_waiting_list_user_ignore {
    width: 80px;
}
.group_waiting_list_user_img {
    width: 50px;
}
.group_waiting_list_user_name {
    width: 210px;
}

#commentTextarea {
	width: 498px;
	margin-top: 10px;
}

#content_view_comments_header {
	margin:1em 0;
}

.content_view_comment_header {
	height: 2em;
	background:#CCCCCC none repeat scroll 0 0;
}

.content_view_comment_username, .content_view_comment_date {
	float:left;
	margin:0.3em;
}

.content_view_comment_username {
	color:#0089CF;
	font-weight:bold;
}

.content_view_comment_reply {
	float:right;
	font-weight:bold;
	margin:0.3em 1em;
}
.content_view_comment_container_0 {
    margin: 0 0 1em 0;
}

.content_view_comment_container_1 {
    margin: 0 0 1em 2em;
}

.content_view_comment_container_2 {
    margin: 0 0 1em 4em;
}

.content_view_comment_container_3 {
    margin: 0 0 1em 6em;
}

.content_view_comment {
	margin:0.3em 0 0 1em;
}

#content_view_comment_form_container {
	margin:1em 0 0;
}

a#cancel_reply_link {
	padding: 0;
	float: right;
	margin: 0;	
}
p#replying_to {
	padding: 0 20px 0 0;
	margin: 0;
	float: right;
}

.content_view_comment_container_1 .content_view_comment_header, .content_view_comment_container_2 .content_view_comment_header, .content_view_comment_container_3 .content_view_comment_header {
	background:#EEEEEE none repeat scroll 0 0;
}

.content_view_comment_header {
	background:#CCCCCC none repeat scroll 0 0;
	height:2em;
}